*, .pure-g [class*="pure-u"] {font-family: 'FiraSans'}
#menu ul span {margin-left: 0.5rem}
body, .header, #toolbar a {color: #432144 !important;}
@media all and ( min-width: 600px ) {
	#main {margin: 0 1rem}
}
.title {margin: 0 0 0.5rem 0}
h5 {margin: 0; font-size: 100%}
#news, #search-results, #artist-grid {font-size: 80%;}
#news .pure-u-1 {margin-left: 0.5rem;}
#toolbar ul {margin: 0; padding: 0;}
#toolbar {
	list-style: none;
	text-align: center;
}

#toolbar li {
	position: relative;
	display: inline-block;
	margin: 0.5rem;
	border: 0px;
}

#toolbar a:hover i{
	text-decoration: none;
	color: #4B294C;
	background: transparent;
	text-shadow: none;
}

#toolbar i{
	display: inline-block;
	vertical-align: middle;
	line-height: 1rem;
	text-shadow: #04000A 0px 1px 1px;
	text-align: center;
}
li div img {width: 3rem;}
/* slider */
[role="slider"] progress::-moz-progress-bar,
input[type=range]::-moz-range-progress {
	background: #522A5B;
}

[role="slider"] button,
input[type="range"]::-moz-range-thumb {
	background:
		radial-gradient(
		circle at top,
		#693F6A,
		#562E57
		);
	border: 0;
}
[role="slider"] > label {color: #1E0A3F}
[role="slider"] progress,
input[type="range"]::-moz-range-track {
	background: #522A5B;
}
#header {margin: 1rem; padding: 0; border: 0}
#album-art {max-width: 150px;}
a {text-decoration: none}
#radios a, .tab, #jamendo-top, #search-results p, #artist-albums p, #artist-tracks p, #info-top {text-align: center;}
#radios img, #jamendo-top img, #search-results img, #artist-info img {
	display:block;
	margin:auto;
	border-radius: 1rem;
	width: 6rem;
	height: 6rem;
}
#top-list, #artist-albums p, #artist-tracks p {font-size: 70%;}
@media all and ( max-width: 600px ) {
	#radios img, #jamendo-top img, #search-results img, #artist-info img {
		width: 4rem;
		height: 4rem;
		border-radius: 0.5rem;
	}
	#main {margin: 0.5rem}
	#artist_name {margin-top: 0.5rem}
	input[type="text"] {width: 100%}
}
.tab { margin-bottom: 1rem;}
.tab.active {
	border-bottom: 2px solid #522A5B;
	pointer-events: none;
	cursor: default;
}
.tab a {display: block;}
input[type="text"], .select-style, select {
	background: #fff;
	color: #432144;
	border: 1px solid #432144;
	border-radius: 10px;
	height: 2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#search select {height: auto}
.select-style {
	overflow: hidden;
	background: #fafafa url("img/arrow.png") no-repeat 100% 50%;
}

.select-style select {
	padding: 5px 8px;
	width: 150%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

.select-style select:focus {
	outline: none;
}
#search input[type="text"] {
	padding: 5px;
	margin: 0;
}

#search button {
	position: relative;
	margin-left: -30px;
	margin-top: 5px;
	background-color: transparent;
	border: 0;
	color: #432144;
}
#search {margin: auto}
#search div {margin: 0.5rem;}
#search form {text-align: center}
#info-top p {text-align: left}
