/* resets */
*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
body {color: #432144}
.hero {
	position: relative;
	float: left;
	margin-right: 5px;
}

.text {
	background:rgba(255,255,255,0.6);
	position: absolute;
	bottom:0;
	left:0;
	padding:1rem;
}
/*article {overflow: auto;}*/
img, .text {width: 100%}
/* grid */
.row {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -10px;
	margin-bottom: 10px;
}
.row:last-child {
	margin-bottom: 0;
}
[class*="col-"] {
	padding: 10px;
	width: 100%;
}

@media all and ( min-width: 600px ) {

	/* set col widths */
	.col-2-3 {
		width: 66.66%;
	}
	.col-1-2 {
		width: 50%;
	}
	.col-1-3 {
		width: 33.33%;
	}
	.col-1-4 {
		width: 25%;
	}
	.col-1-8 {
		width: 12.5%;
	}
}
.title {margin: 0; color: #333}
.toolbar button {
	background: rgba(0,0,0,0);
	border: 0;
}
.listen, #info {margin: 0 auto;}
.listen, #info {text-align: center}
.listen img, #info img {max-width: 100px;}
#news {height: 100%; background: #f4f4f4;}
#index {
	height: 100%;
}

/* Headers */
#headers .content {
	margin-top: -1.5rem;
}
#headers section[role="region"] {
	margin-bottom: 1.5rem;
}
#headers section[role="region"]:not(#drawer) {
	display: inline;
}
#headers article header:first-child {
	margin-top: 1.5rem;
}
#headers section[role="region"] header h2 {
	margin: 0 0 1.5rem 0;
}

/* Lists */
/* to avoid double background effect on press */
[data-type=list] li>a:active {
	background-color: transparent;
}

/* Drawer */
section[role="region"]:not(#drawer) {
	transition: none;
	left: 0;
	z-index: 0;
	padding-left: 0;
}
section[data-type="sidebar"] + section[role="region"] > header:first-child > button,
section[data-type="sidebar"] + section[role="region"] > header:first-child > a {
	background-position: 3.5rem center;
}
section[data-type="sidebar"], section[role="status"] {background: #381D38 !important}
section[data-type="sidebar"] > nav > ul > li > a {border-bottom: 0.1rem solid #693F6A !important}
section[data-type="sidebar"] > nav > ul > li > a:hover {background: #562E57 !important; border-bottom: 0.1rem solid #381D38 !important}

/* Switches */
#switches div:last-child label:last-child {
	margin-left: 2rem;
}
#switches div:last-child {
	margin-left: 2rem;
}

/* Scrolling */
nav[data-type="scrollbar"] {
	padding-top: 1rem;
}
nav[data-type="scrollbar"] p {
	opacity: 1;
}

/* Seek bars */
div[role="slider"] > label.icon {
	background: no-repeat right top;
	background-size: 3rem auto;
}

/* Tabs */
#tabs .content {
	padding: 0;
}
#tabs .content .content {
	padding: 1.5rem 3rem;
}

/* Filters */
[role="tablist"][data-type="filter"] {
	margin-bottom: 2rem;
}

section[data-type="sidebar"] > nav > ul > li > a {
	text-indent: 1rem;
}
[data-icon]:before { color: #FFF; }
section[data-type="sidebar"] p { color: #FFF !important}
#info-list button {
	float: left;
	display: inline;
}
#toolbar i {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
[data-type="list"] .fa {
	line-height: 6rem;
	text-align: center;
	display: block;
	/*font-size: 3rem*/
}
#top-tabs {
	position: fixed;
	bottom:0;
	left:0;
}
/* player buttons */
#toolbar {
	list-style: none;
	text-align: center;
}

#toolbar li {
	position: relative;
	display: inline-block;
	margin-right: -4px;
}
#toolbar a {
	display: block;
	background: #522A5B;
	color: rgba(255,255,255,0.9);
	margin-right: 5px;
	width: 4rem;
	height: 4rem;
	position: relative;
	text-align: center;
	line-height: 4rem;
	border-radius: 50%;
	font-size: 1rem;
	vertical-align: middle;
}
#toolbar a:hover{
	text-decoration: none;
	color: #693F6A;
	background: #f5f5f5;
	text-shadow: #04000A 0px 1px 0px;
	box-shadow: none;
}
#header {
	background-image: -moz-linear-gradient(top, #693F6A, #562E57);
	color: #DDD1F1;
	text-shadow: #04000A 0px -1px 1px;
}

section[data-type="sidebar"] > header {
  background: #4B294C;
  font-style: italic;
}

section[data-type="sidebar"] header {border-right: 0.1rem solid #693F6A !important}
#play {
	width: 6rem !important;
	height: 6rem !important;
	line-height: 6rem !important;
	font-size: 100% !important;
}
/* slider */
[role="slider"] progress::-moz-progress-bar,
input[type=range]::-moz-range-progress, #toolbar a {
	background: #522A5B;
}

[role="slider"] button,
	input[type="range"]::-moz-range-thumb {
	background:
	radial-gradient(
		circle at top,
		#693F6A,
		#562E57
	);
	border: 0;
}
[role="slider"] > label {color: #1E0A3F}
	[role="slider"] progress,
	input[type="range"]::-moz-range-track {
	background: #522A5B;
}
#seekbar, input {border: 0 !important}

ul, ol, li {
  margin: 0;
  padding: 0.2rem;
  font-size: 1.8rem;
}

[data-type="list"] li {
  border-bottom: 0.1rem solid transparent;
}
